body{
	margin:0px;
	padding:0px;
	font-family:Helvetica;
	background:#ACEBDC;
	}

.headline{
	font-size:60px;
	color:#00D0D4;
	font-weight:bold;
	padding:20px;
	text-align: center;
}

.rooster_pic {
		width:300px;
		height:auto;
		text-align:center;
		margin: 10px auto;

}